<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Nova Nsawa - Funeral Donation Platform in Ghana</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Nova Nsawa is a user-friendly platform for managing funeral donations in Ghana, offering an easy and dignified way to handle collections, announcements, and tracking.">
  <meta name="keywords" content="Ghana,Nsawa, funeral, donations, funeral services, funeral planning, funeral announcements, funeral collections, online donations, Nova Nsawa">
  <meta name="author" content="FnF ICT Solutions">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Nova Nsawa - Funeral Donation Platform in Ghana">
  <meta property="og:description" content="A user-friendly platform for managing funeral donations in Ghana, offering an easy and dignified way to handle collections, announcements, and tracking.">
  <meta property="og:image" content="images/logo.png">
  <meta property="og:url" content="https://nsawa.vercel.app">
  <meta property="og:type" content="website">


  <!-- Favicons -->
  <link href="images/logo.png" rel="icon">
  <link href="images/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/ionicons.min.css" rel="stylesheet">
  <link href="css/owl.carousel.min.css" rel="stylesheet">
  <link href="css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <ImportMap/>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
  <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/easing.min.js"></script>
  <script src="js/hoverIntent.js"></script>
  <script src="js/superfish.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/counterup.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/jquery.touchSwipe.min.js"></script>
  @* <!-- Contact Form JavaScript File -->
  <script src="js/contactform.js"></script> *@

  <!-- Template Main Javascript File -->
  @* <script src="js/firebase-app.js"></script> *@
  @* <script src="js/contact.js"></script> *@
  <script src="js/main.js"></script>
  @* <script src="js/firebase-analytics.js">firebase.analytics();</script> *@

</body>

</html>
